{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block nav %}
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#">About</a></li>
        <!-- Login and Register Links -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
    </ul>
    <nav>
        <ul class="pagination justify-content-center">
            {% if previous %}
            <li class="page-item"><a class="page-link" href="?page={{ previous|cut:'http://127.0.0.1:8000/articles/articles/published/?page=' }}">Previous</a></li>
            {% endif %}
            {% if next %}
            <li class="page-item"><a class="page-link" href="?page={{ next|cut:'http://127.0.0.1:8000/articles/articles/published/?page=' }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Login</h2>
    <form id="loginForm">
        {% csrf_token %}
        
        <!-- Email Field -->
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
        </div>
        
        <!-- Password Field -->
        <div class="form-group mt-3">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
        </div>
        
        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary mt-4">Login</button>
        
        <!-- Optional: Display a message if login fails -->
        <div id="error-message" class="alert alert-danger mt-3" style="display:none;">
            Invalid credentials. Please try again.
        </div>
    </form>
</div>

<script>
    document.getElementById('loginForm').addEventListener('submit', function(event) {
        event.preventDefault();
        
        var email = document.getElementById('email').value;
        var password = document.getElementById('password').value;
        
        fetch('http://127.0.0.1:8000/users/login/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                'email': email,
                'password': password,
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.access && data.refresh) {
                // Store tokens in localStorage
                localStorage.setItem('access_token', data.access);
                localStorage.setItem('refresh_token', data.refresh);
                
                // Redirect to the appropriate dashboard based on role
                if (data.user && data.user.role) {
                    var role = data.user.role;
                    if (role === "admin") {
                        window.location.href = '/admin-dashboard';
                    } else if (role === "editor") {
                        window.location.href = '/editor-dashboard';
                    } else if (role === "journalist") {
                        window.location.href = '/journalist-dashboard';
                    } else {
                        window.location.href = '/';
                    }
                } else {
                    alert('User role not found.');
                }
            } else {
                // Show error message if login fails
                document.getElementById('error-message').style.display = 'block';
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred. Please try again.');
        });
    });
</script>
{% endblock %}
